* {
    box-sizing: border-box;
    
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

/* NavBar Styling */
.fa-apple {
    color: #000000;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
}

.nav-links {
    display: flex;
    gap: 60px;
    padding: 8px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 26px;
}

.nav-links a:hover {
    background: linear-gradient(90deg, #007aff, #ff2d55, #ff9500);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: color 0.3s ease;
    
}

.nav-links i {
    font-size: 30px;
}

/* Promo Banner */
.promo-banner {
    background-color: #424242;
    padding: 15px;
    text-align: center;
}

.promo-banner p {
    color: #f0f0f0;
    font-size: 24px;
    font-weight: 500;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 75vh;
}

.hero-left {
    width: 50%;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; 
    justify-content: flex-start;
    margin-right: auto;
}

.hero-left img {
    height: 100%;
    width: auto;
    object-fit: contain;
    display: block;
}

/* .hero-left img {
    max-width: 650px;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid red;
} */

.hero-right {
    flex: 1;
    text-align: center;
    transform: translateX(-50px);
    margin-bottom: 6rem;
}

.hero-right h1 {
    font-size: 7rem;
    margin-bottom: 20px;
    font-weight: 300;
}

/*Buy Button */
.buy-button {
    /* background-color: #1d1d1f;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem; */
    
    position: relative;
    background-color: #1d1d1f;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    z-index: 0;
}

.buy-button::after {
    background-color: #333;

    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px; /* border thickness */
    background: linear-gradient(90deg, #007aff, #ff2d55, #ff9500);
    -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.buy-button:hover::after {
    opacity: 1;
}

.price-note {
    color: #555;
    font-size: 0.95rem;
}